@{
	ViewBag.Title = "CustomLists";
}

<h2>CustomLists</h2>

<div>
	<p>TODO: Here should be 3 custom lists, 1 simple: List, 2 advanced: List+CRUD, 3 Complex List+CRUD+Filter</p>
</div>
<div class="col-sm-6 col-md-3">
	<div class="thumbnail tile tile-medium tile-teal">
		<a href="#">
			<h1>Hello</h1>
		</a>
	</div>
</div>
<div class="col-sm-6 col-md-6">
	<div class="thumbnail tile tile-wide tile-orange">
		<a href="#">
			<h1 class="tile-text">
				I'm the 2!
			</h1>
		</a>
	</div>
</div>
<div class="col-sm-6 col-md-6">
	<ul class="pagination">
		<li class="disabled"><a href="#">&laquo;</a></li>
		<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		<li><a href="#">2 <span class="sr-only">(current)</span></a></li>
		<li><a href="#">3 <span class="sr-only">(current)</span></a></li>
	</ul>
</div>